<!DOCTYPE html>
<html>
  <head>
    <title>SchemaRb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'RepoRank', homes_path %>
    <%= link_to 'Tables', tables_path %>
    <%= yield %>
  </body>
</html>
